<div class="container p-3 bg-primary text-white col-11 mt-3">
  <h1 class="text-center">
    MAHASISWA
  </h1>
</div>
<div class="container bg-danger mb-d col-11">
  <ul class="nav justify-content-center row p-2">
    <li class="nav-item rounded bg-primary m-1 col-sm-3 col-10">
      <a class="nav-link text-white text-center text-wrap font-weight-bold" routerLink="/pengurus-list">PENGURUS</a>
    </li>
    <li class="nav-item rounded bg-primary m-1 col-sm-3 col-10">
      <a class="nav-link text-white text-center text-wrap font-weight-bold" routerLink="/mahasiswa-list">MAHASISWA</a>
    </li>
    <li class="nav-item rounded bg-primary m-1 col-sm-3 col-10">
      <a class="nav-link text-white text-center text-wrap font-weight-bold" href="#">MATA KULIAH</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>